body{
	background-image: url(js.jpg);
	background-size: 30%;
	background-attachment: fixed;
	margin: 0;
	font-family: Comic Sans MS;
}

.div{
	text-align: center; 
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 10%;
	background-color: #FFCD01;
	padding: 50px 5px 50px 5px; 
	border-radius: 2rem;
}
form{
	text-align: -webkit-center;
}

input[type="button"]{
	min-width: 80px;
	margin-top: 10px;
	margin-right: 5px;
}